#container {

    border:solid 5px indigo;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#container h1 {

    color: indigo;
}


input.placeholder {
    text-align: center;
    color: indigo;
    font-size: 15px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: indigo;
    font-size: 15px;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    color: indigo;
    font-size: 15px;

 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: indigo;
    font-size: 15px;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: indigo;
    font-size: 15px;
 }

 input { 

    align-content: center;
    border:solid 2px indigo;
 
     
 }

 input[type='number']{
    width: 140px;

 }

#btn {

    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    color: indigo; 
    margin-bottom: 30px;

}

#submit {
    margin-left: 20px;
    color: indigo;
    font-size: 15px;
    border-radius: 5px;
    border:solid 2px indigo;
}


#resetNum{

    border-radius: 15px;
    padding: 10px;
    color: white;
    background-color: indigo;
    font-size: 20px;
}

#resetScore{

    border-radius: 15px;
    margin-left: 5px;
    padding: 10px;
    color: white;
    background-color: indigo;
    font-size: 20px;

}

#btns {

    margin: 60px;
}

#box {
    border: solid 3px indigo;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: indigo;
}

#result {

    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    background-color: indigo;
    padding: 5px;
    border-radius: 2px;
}

#tries {

    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    background-color: indigo;
    padding: 5px;
    border-radius: 2px;
}

#score {

    font-size: 20px;
    color: white;
    background-color: indigo;
    padding: 5px;
    border-radius: 2px;
}

